[submodule "packages/aesirx-uikit"]
	path = packages/aesirx-uikit
	url = https://github.com/aesirxio/aesirx-uikit.git
	branch = master
[submodule "packages/aesirx-lib"]
	path = packages/aesirx-lib
	url = https://github.com/aesirxio/aesirx-lib.git
	branch = master
