@import '../../scss/utils/bootstrap.scss';

.box-color {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 4px;
  &:first-child {
    margin: 0;
  }
  &.light {
    background-color: #fff;
  }
  &.dark {
    background-color: #000;
  }
}
