.item_notification {
  &:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border-bottom: 0 !important;
  }
}

.number_bell {
  width: 15px;
  height: 15px;
  font-size: 11px;
  top: -5px;
  right: -7px;
  font-weight: 500;
}

.wr_list_notification {
  max-height: 350px;
  overflow: hidden;
  overflow-y: auto;
}