
.modal-dialog{
   max-width: 100%;
    margin: 0 30px;
}
.modal-body{
    background-color: rgb(162 167 171 / 47%);
    .formchat{
        .body-chat{
            height: 730px;
            overflow-y: auto;
            .chatgpt{
                background-color: rgba(32,33,35,.5);
                border-radius: 6px;
                color: white;
                &::before{
                    content: "";
                    background-image: url(../../../public/assets/images/chatgpt-icon.svg);
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 35px;
                    background-size: 35px;
                    position: absolute;
                    top: 25%;
                    left: 7px;
                }
            }
            .user{
                background-color: white;
                border-radius: 6px;
                color: black;
                &::before{
                    content: "";
                    background-image: url(../../../public/favicon.ico);
                    background-repeat: no-repeat;
                    width: 35px;
                    height: 35px;
                    background-size: 35px;
                    position: absolute;
                    top: 25%;
                    left: 7px;
                }
            }
        }
        form{
            height: 70px;
            outline: none;
            input{
            border-radius: 6px 0 0 6px;
            border: none;
            padding: 5px 20px;
            &:focus{
            border: none;
            outline: none;
            }
            }
            
            .btn.submit{
                border-radius: 0 6px 6px 0 !important;
            }
        }
    }
}