@import "../../scss/utils/bootstrap.scss";

.btn_loading {
  display: none;
}

.btn_icon_submit {
  pointer-events: none;
}

.password-error {
  white-space: break-spaces;
}

.page-data-submit {
  .wr_btn_submitting {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;

    .btn_loading {
      display: block;
    }

    .btn_icon_submit {
      display: none;
    }
  }
}
