[data-theme='dark'] {
  --body-color: #bfc9f7;
  --body-bg: #1a1a1a;

  --box-shadow-color: rgb(26 26 26);
  --nav-bg: #1a2226;

  --text-title-color: #c6c4f7;
  --border-color: #373737;

  --date-picker-color: #bfc9f7;
  --date-picker-disabled-color: #282d34;
  --date-picker-header-color: #c6c4f7;
  --date-picker-selected: #373737;
  --date-picker-bg: #0d0d0d;
  --date-picker-header-bg: #0d0d0d;

  --input-color: #fff;
  --input-bg: #0d0d0d;
  --input-disabled-bg: #282d33;
  --input-placeholder-color: #282d34;
  --input-border-color: #373737;

  --calendar-current-timeline: #3fff00;
  --calendar-header-bg: #1d2c33;
  --calendar-header-color: #bfc9f7;
  --calendar-border-color: #1f2025;
  --calendar-bg: #0d0d0d;
  --calendar-color: #bfc9f7;
  --calendar-outrange-bg: #0d0d0d;
  --calendar-today-bg: #1f252c;

  --categories-channels-color: #bfc9f7;
  --categories-channels-active-color: #0072a3;

  --dropdown-bg: #0d0d0d;
  --dropdown-item-color: #bfc9f7;
  --dropdown-item-hover-color: #bfc9f7;
  --dropdown-item-hover-bg: #102129;

  --content-bg: #0d0d0d;
  --bg-blue-class: #1a1a1a;
  --view-active-bg: #3c3c3c;
  --text-black-class: #fff;
  --text-blue-0-class: #bfc9f7;

  --event-bg: #001d49;
  --event-color: #267cfd;

  --btn-green-color: #1a2226;
  --btn-outline-secondary-bg: #0d0d0d;
  --btn-outline-secondary-color: #ffffffcc;
  --btn-action-bg: #0d0d0d;
  --btn-action-color: #ffffffcc;
}
