:root {
  --body-color: #1a2226;
  --body-bg: #fff;

  --date-picker-color: rgba(8, 18, 64, 0.8);
  --date-picker-disabled-color: #ccc;
  --date-picker-header-color: #081240;
  --date-picker-selected: rgba(0, 95, 137, 0.08);
  --date-picker-bg: #fff;

  --modal-bg: #fff;

  --input-color: #1a2226;
  --input-bg: #fff;
  --input-disabled-bg: #e9ecef;
  --input-placeholder-color: #6c757d;

  --calendar-current-timeline: #74ad31;
  --calendar-header-bg: #dce6eb;
  --calendar-bg: #fff;
  --calendar-outrange-bg: #e6e6e6;
  --calendar-today-bg: rgba(0, 95, 137, 0.3);
  --calendar-event-bg: transparent;

  --categories-channels-color: rgba(8, 18, 64, 0.5);
  --categories-channels-active-color: #005f89;

  --dropdown-bg: #fff;
  --dropdown-color: #1a2226;
  --dropdown-item-color: #1a2226;
  --dropdown-item-hover-color: #1a2226;

  --bg-white-class: #fff;
  --bg-blue-class: #f5f8fa;
  --bg-blue-3-class: #dce6eb;
  --text-black-class: #000;
  --text-blue-0-class: #081240;
}

[data-theme='dark'] {
  --body-color: #fff;
  --body-bg: #3c3c3c;

  --date-picker-color: #fff;
  --date-picker-disabled-color: #c0c0c0;
  --date-picker-header-color: #fff;
  --date-picker-selected: #c0c0c0;
  --date-picker-bg: #565656;

  --modal-bg: #565656;

  --input-color: #fff;
  --input-bg: #565656;
  --input-disabled-bg: #707070;
  --input-placeholder-color: #c0c0c0;

  --calendar-current-timeline: #3fff00;
  --calendar-header-bg: #1a2226;
  --calendar-bg: #707070;
  --calendar-outrange-bg: #565656;
  --calendar-today-bg: #c0c0c0;
  --calendar-event-bg: #fff;

  --categories-channels-color: #ffffffb3;
  --categories-channels-active-color: #005f89;

  --dropdown-bg: #565656;
  --dropdown-color: #fff;
  --dropdown-item-color: #fff;
  --dropdown-item-hover-color: #081240;

  --bg-white-class: #565656;
  --bg-blue-class: #3c3c3c;
  --bg-blue-3-class: #3c3c3c;
  --text-black-class: #fff;
  --text-blue-0-class: #fff;

  --bs-body-color: var(--body-color);
  --bs-body-bg: var(--body-bg);
}

.bg-white {
  background-color: var(--bg-white-class) !important;
}
.bg-blue {
  background-color: var(--bg-blue-class) !important;
}
.bg-blue-3 {
  background-color: var(--bg-blue-3-class) !important;
}
.text-black {
  color: var(--text-black-class) !important;
}
.text-blue-0 {
  color: var(--text-blue-0-class) !important;
}
.wrapper_tabs .nav-tabs .nav-link {
  color: var(--categories-channels-color) !important;
  &.active,
  &:hover {
    color: var(--categories-channels-active-color) !important;
  }
}
.dropdown-menu {
  background-color: var(--dropdown-bg) !important;
  color: var(--dropdown-color) !important;
  .dropdown-item {
    color: var(--dropdown-item-color) !important;
    &:hover {
      color: var(--dropdown-item-hover-color) !important;
    }
  }
}
.react-datepicker-popper {
  .react-datepicker__current-month {
    color: var(--date-picker-header-color) !important;
  }
  .react-datepicker {
    background-color: var(--date-picker-bg) !important;
  }
  .react-datepicker__triangle {
    border-bottom-color: var(--date-picker-bg) !important;
  }
  .react-datepicker__header {
    background-color: var(--date-picker-bg) !important;
  }
  .react-datepicker__day.react-datepicker__day--disabled {
    color: var(--date-picker-disabled-color) !important;
  }
  .react-datepicker__year-read-view {
    color: var(--date-picker-disabled-color) !important;
    color: var(--date-picker-disabled-color) !important;
  }
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    color: var(--date-picker-color) !important;
  }
  .react-datepicker__day--selected,
  .react-datepicker__day--in-selecting-range,
  .react-datepicker__day--in-range,
  .react-datepicker__month-text--selected,
  .react-datepicker__month-text--in-selecting-range,
  .react-datepicker__month-text--in-range,
  .react-datepicker__quarter-text--selected,
  .react-datepicker__quarter-text--in-selecting-range,
  .react-datepicker__quarter-text--in-range,
  .react-datepicker__year-text--selected,
  .react-datepicker__year-text--in-selecting-range,
  .react-datepicker__year-text--in-range {
    background-color: var(--date-picker-selected) !important;
  }
  .react-datepicker__day--keyboard-selected,
  .react-datepicker__month-text--keyboard-selected,
  .react-datepicker__quarter-text--keyboard-selected,
  .react-datepicker__year-text--keyboard-selected {
    background-color: var(--date-picker-selected) !important;
  }
  .react-datepicker__day,
  .react-datepicker__month-text,
  .react-datepicker__quarter-text,
  .react-datepicker__year-text {
    &:hover {
      background-color: var(--date-picker-selected) !important;
    }
  }
}

.wrapper_calendar_full {
  .rbc-month-header,
  .rbc-time-header {
    background-color: var(--calendar-header-bg) !important;
  }
  .rbc-month-view {
    .rbc-event {
      background-color: var(--calendar-event-bg) !important;
    }
    .rbc-day-bg {
      background-color: var(--calendar-bg);
      &.rbc-off-range-bg {
        background-color: var(--calendar-outrange-bg) !important;
      }
      &.rbc-today {
        background-color: var(--calendar-today-bg);
      }
    }
  }
  .rbc-time-content {
    background-color: var(--calendar-bg);
    .rbc-day-slot.rbc-today {
      background-color: var(--calendar-bg);
    }
  }
  .rbc-agenda-view .rbc-agenda-event-cell > div {
    background-color: var(--calendar-event-bg);
    border-radius: 5px;
  }
  .rbc-current-time-indicator {
    background-color: var(--calendar-current-timeline);
  }
}
.modal-content {
  background-color: var(--modal-bg) !important;
}

input::-webkit-input-placeholder {
  color: var(--body-color);
  opacity: 0.75;
}
.form-control {
  background: var(--input-bg);
  color: var(--input-color);
  &:disabled,
  &[readonly] {
    background-color: var(--input-disabled-bg);
  }
  &:focus {
    color: var(--input-color);
    background-color: var(--input-bg);
  }
  &::placeholder {
    color: var(--input-placeholder-color);
  }
  .react-datepicker__input-container input {
    background: inherit !important;
    color: var(--input-color) !important;
  }
}
