[data-theme] {
  .shadow {
    box-shadow: var(--shadow) !important;
  }
  .bg-white {
    background-color: var(--bg-white-class) !important;
  }
  .bg-blue {
    background-color: var(--bg-blue-class) !important;
  }
  .bg-blue-3 {
    background-color: var(--bg-blue-3-class) !important;
  }
  .text-black {
    color: var(--text-black-class) !important;
  }
  .text-blue-0 {
    color: var(--text-blue-0-class) !important;
  }
  .text--themes,
  .text-black-50 {
    color: var(--text-themes-color) !important;
  }
  .btn {
    &.btn-success {
      color: var(--btn-success-color) !important;
    }
    &.btn-outline-secondary:not(:hover) {
      background-color: var(--btn-outline-secondary-bg) !important;
      color: var(--btn-outline-secondary-color) !important;
      border-color: var(--border-color) !important;
    }
    &.btn-info {
      background-color: var(--btn-info-bg) !important;
      color: var(--btn-info-color) !important;
      border-color: var(--border-color) !important;
    }
  }
  .content_header {
    background-color: var(--header-bg) !important;
  }
  .wrapper_tabs .nav-tabs .nav-link {
    color: var(--categories-channels-color) !important;
    &.active,
    &:hover {
      color: var(--categories-channels-active-color) !important;
    }
  }
  .dropdown-menu {
    background-color: var(--dropdown-bg) !important;
    color: var(--dropdown-item-color) !important;
    .dropdown-item {
      color: var(--dropdown-item-color) !important;
      &:hover {
        background-color: var(--dropdown-item-hover-bg) !important;
        color: var(--dropdown-item-color) !important;
      }
    }
  }

  .react-datepicker-popper {
    .react-datepicker__current-month {
      color: var(--date-picker-header-color) !important;
    }
    .react-datepicker {
      background-color: var(--date-picker-bg) !important;
    }
    .react-datepicker__day.react-datepicker__day--disabled {
      color: var(--date-picker-disabled-color) !important;
    }
    .react-datepicker__triangle {
      border-bottom-color: var(--date-picker-header-bg) !important;
    }
    .react-datepicker__header {
      background-color: var(--date-picker-header-bg) !important;
    }
    .react-datepicker__day-name,
    .react-datepicker__year-read-view,
    .react-datepicker__day,
    .react-datepicker__time-name {
      color: var(--date-picker-color) !important;
    }
    .react-datepicker__day--selected,
    .react-datepicker__day--in-selecting-range,
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--selected,
    .react-datepicker__month-text--in-selecting-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--selected,
    .react-datepicker__quarter-text--in-selecting-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--selected,
    .react-datepicker__year-text--in-selecting-range,
    .react-datepicker__year-text--in-range {
      background-color: var(--date-picker-selected) !important;
    }
    .react-datepicker__day--keyboard-selected,
    .react-datepicker__month-text--keyboard-selected,
    .react-datepicker__quarter-text--keyboard-selected,
    .react-datepicker__year-text--keyboard-selected {
      background-color: var(--date-picker-selected) !important;
    }
    .react-datepicker__day,
    .react-datepicker__month-text,
    .react-datepicker__quarter-text,
    .react-datepicker__year-text {
      &:hover {
        background-color: var(--date-picker-selected) !important;
      }
    }
  }

  .wrapper_datepicker .react-datepicker-popper {
    .react-datepicker__triangle {
      border-bottom-color: var(--date-picker-bg) !important;
    }
    .react-datepicker__header {
      background-color: var(--date-picker-bg) !important;
    }
  }
  .wrapper_calendar_full {
    .rbc-month-header,
    .rbc-time-header {
      background-color: var(--calendar-header-bg) !important;
    }
    .rbc-day-bg,
    .rbc-month-row + .rbc-month-row,
    .rbc-time-content,
    .rbc-time-header-content,
    .rbc-timeslot-group,
    .rbc-time-content > * + * > *,
    .rbc-day-slot .rbc-time-slot,
    .rbc-time-view {
      border-color: var(--calendar-border-color) !important ;
    }
    .rbc-month-view {
      .rbc-day-bg {
        background-color: var(--calendar-bg);
        &.rbc-off-range-bg {
          background-color: var(--calendar-outrange-bg) !important;
        }
        &.rbc-today {
          background-color: var(--calendar-today-bg);
        }
      }
    }
    .rbc-agenda-view {
      * {
        border-color: var(--calendar-border-color) !important ;
      }
      > .rbc-agenda-table {
        background-color: var(--calendar-header-bg);
      }
      .rbc-agenda-content {
        background-color: var(--calendar-bg);
      }
    }
    .rbc-time-content {
      background-color: var(--calendar-bg);
      .rbc-day-slot.rbc-today {
        background-color: var(--calendar-bg);
      }
    }
    .rbc-current-time-indicator {
      background-color: var(--calendar-current-timeline);
    }
  }
  .modal-content {
    background-color: var(--modal-bg) !important;
  }
  .wrapper_search_global {
    input::-webkit-input-placeholder {
      color: var(--body-color);
      opacity: 0.75;
    }
  }
  .wrapper_des_event {
    background-color: var(--event-bg) !important;
    .wrapper_des_event_title {
      color: var(--event-color) !important;
    }
  }
  .form-control {
    background: var(--input-bg);
    color: var(--input-color);
    border-color: var(--input-border-color);
    &:disabled,
    &[readonly] {
      background-color: var(--input-disabled-bg);
      &:focus {
        color: var(--input-color);
        background-color: var(--input-disabled-bg);
      }
    }
    &:focus {
      color: var(--input-color);
      background-color: var(--input-bg);
    }
    &::placeholder {
      color: var(--input-placeholder-color);
    }
    .react-datepicker__input-container input {
      background: inherit !important;
      color: var(--input-color) !important;
    }
  }
  [class*='border-'] {
    border-color: var(--border-color) !important;
  }
  .form-check-input:not(:checked) {
    background-color: var(--input-bg);
    border-color: var(--input-border-color);
  }
  .form-switch {
    .form-check-input:not(:checked) {
      background-color: #fff !important;
      border-color: var(--input-border-color);
    }
  }
}

@import './dark.scss';
@import './light.scss';
